<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TestPage</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
 
<input type="text" id = "question">
<button type = "button" id = "requestAnswer">전송</button>

<input type="hidden" id = "receivedAnswer">
 
</body>

<script th:inline="javascript">
	
	$(document).ready(function(){
		$('#requestAnswer').on("click", function(){
			let question = $('#question').val();
			console.log(question);
			$.ajax({
				url : "/api/v1/chat-gpt",
				type : "post",
				data : JSON.stringify(question),
				contentType : "application/json",
				dataType : "text",
				success : function(result){
					console.log(result);
					$("#receivedAnswer").attr("type", "text");
					$("#receivedAnswer").val(result);
				},
				error : function(XHR, status, error) {
					console.log(status + ' : ' + error);
				}
			})
		});
		
	})
	
	
	
	
	
</script>

</html>